.content-sidebar {
  position: fixed;
  top: 54px;
  left: 60px;
  bottom: 0;
  width: 33%;
  overflow-y: auto;
  background-color: #1e1e1e;
  transition: width 0.3s ease;
}

@media (max-width: 768px) {
  .content-sidebar {
    width: 100%;
    height: calc(100% - 60px);
    left: 0;
  }
}
