.dropdown {
  position: absolute;
  background-color: #232428;
  border: 1px solid #444;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  overflow-y: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #3a3b3f;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.dropdown-text {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  .dropdown {
    left: 79px;
    top: 37%;
    width: 200px;
    max-height: 100vh;
  }
}

@media (max-width: 767px) {
  .dropdown {
    bottom: 75px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
  }

  .dropdown-item {
    flex-direction: column;
    text-align: center;
  }

  .dropdown-icon {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
