.message-editor {
  background-color: var(--color-primary); /* Fond du conteneur d'édition */
  border-radius: 8px; /* Coins arrondis pour le conteneur */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
  width: 90%; /* S'adapte à la largeur du conteneur parent */
  margin: 0 auto; /* Centre le conteneur */
  position: relative; /* Pour positionner le menu en bas si nécessaire */
}

.edit-input {
  background-color: var(
    --color-secondary
  ); /* Couleur de fond de la zone de texte */
  border: 1px solid var(--color-border); /* Bordure discrète */
  color: var(--color-font); /* Couleur du texte */
  width: calc(100% - 20px); /* Largeur avec padding interne */
  outline: none; /* Retire le contour par défaut */
  height: 60px; /* Hauteur ajustée pour plus de lignes visibles */
  line-height: 1.5em; /* Hauteur de ligne pour lisibilité */
  padding: 10px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis pour la zone de texte */
  resize: none; /* Empêche le redimensionnement de la zone de texte */
}

.valid-or-cancel_edit {
  font-size: 0.8em; /* Taille de police légèrement augmentée */
  color: var(
    --color-font-secondary
  ); /* Couleur secondaire pour les instructions */
  margin-top: 10px; /* Espace au-dessus du menu */
  display: flex; /* Utilise flexbox pour aligner les éléments */
  justify-content: flex-start; /* Aligne les éléments à gauche */
  align-items: center; /* Aligne les éléments verticalement */
  gap: 10px; /* Espace entre les éléments */
}

.valid-or-cancel_edit button {
  background: none; /* Pas de fond */
  border: none; /* Pas de bordure */
  color: var(--color-link); /* Couleur du texte */
  font-size: inherit; /* Prend la taille de la police du conteneur */
  cursor: pointer; /* Change le curseur au survol */

  padding: 0; /* Retire les marges internes */
}

.valid-or-cancel_edit button:hover {
  text-decoration: underline; /* Soulignement pour imiter les liens */
}

@media (max-width: 600px) {
  .valid-or-cancel_edit span {
    display: none; /* Masque les instructions textuelles sur les petits écrans */
  }

  .valid-or-cancel_edit {
    justify-content: center; /* Centre les boutons */
  }
}
