.message-editor {
  background-color: var(--color-primary); 
  border-radius: 8px; 
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  width: 90%;
  margin: 0 auto;
  position: relative; 
}

.edit-input {
  background-color: var(
    --color-secondary
  ); 
  overflow: auto;
  border: 1px solid var(--color-border);
  color: var(--color-font); 
  width: calc(100% - 20px);
  outline: none;
  height: 60px; 
  line-height: 1.5em; 
  padding: 10px;
  border-radius: 5px; 
  resize: none; 
}

.valid-or-cancel_edit {
  font-size: 0.8em; 
  color: var(
    --color-font-secondary
  ); 
  margin-top: 10px; 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 10px;
}

.valid-or-cancel_edit button {
  background: none; 
  border: none; 
  color: var(--color-link); 
  font-size: inherit; 
  cursor: pointer;

  padding: 0; 
}

.valid-or-cancel_edit button:hover {
  text-decoration: underline; 
}

@media (max-width: 600px) {
  .valid-or-cancel_edit span {
    display: none; 
  }

  .valid-or-cancel_edit {
    justify-content: center; 
  }
}
