.privateMessagePage-container {
  width: 60%;
  height: 100%;
}

.list-student-wrapper {
  display: flex;
  flex-direction: column;
  
}

.list-student-wrapper > li {
  text-decoration: none;
  padding: 8px;
  
 
}

.student-wrapper{
  display: flex;
  justify-content: space-around;
 
}
