.add-students-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #2b2d31, #3c3f43);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.student-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-form input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 30px;
  width: 70%;
  padding: 0 10px;
  border: 2px solid #35a554;
  background-color: #fff;
}

/* Ajout de la règle pour les labels en blanc */
.student-form label {
  color: white; /* Couleur des labels en blanc */
  font-size: 14px;
  margin-bottom: 5px;
  align-self: flex-start;
  padding-left: 15%;
}

.removeStudent-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.removeStudent-form button {
  background-color: red;
  color: white;
  font-size: 12px;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
  border: none;
  cursor: pointer;
}

.removeStudent-form button:hover {
  background-color: #35a554;
}

.AddStudentBTN {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 30px;
}

.add-student-button,
.submit-button {
  background-color: #35a554;
  color: white;
  font-size: 12px;
  height: 30px;
  width: 30%;
  border: none;
  border-radius: 25px;
  margin: 5px 0;
  cursor: pointer;
}

.add-student-button:hover,
.submit-button:hover {
  background-color: #2a7b4c;
}
