.input-message-container {
  width: 100%;
}

.input-message {
  width: 100%;
  min-height: 50px;
  max-height: 300px; /* Ajustez si nécessaire */
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color-secondary);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: auto;
  resize: none;
  font-size: 1em;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

.input-message::-webkit-scrollbar {
width: 8px;
}

.input-message::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 8px;
}

.input-message::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.input-message::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: 8px;
}